.bottom-panel {
  margin-top: 20px;
}

.bottom-panel .new-post-label {
	width: auto;
	flex-grow: 1;
	margin-right: 3px;
	transition: border .3 ease-out;
}
.bottom-panel .new-post-label.error {
	border-color: red; 
}
